.container {
  text-align: center;
  margin: -21px;
  height: 730px;
  color: #cce6f4;
  margin-left: 10%;
  margin-right: 10%;
}
h3 {
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
}

a:link {
  text-decoration: none;
}
