.movie-detail-container {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;

}

img.bg{
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
}

h3 {
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 2%;
}

a:link {
  text-decoration: none;
}
